h1 {
  font-family: 'Press Start 2P', cursive;
  color: black;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
  font-size: 300%;
}

body {
  background-image: url("https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0137/5825/rrobot_circut_ltpink_shop_preview.png");
}

p {
  font-family: 'Press Start 2P', cursive;
  color: black;
  line-height: 40px;
}

.lk {
  color: black;
}

.bio {
  position: relative;
  top: 0px;
  width: 1000px;
  float: right;
}

img {
  width:20%;
  height:20%;
}

ul {
  font-family: 'Press Start 2P', cursive;
}

.searchy {
  size: 10%;
}
