
h1 {
  font-family: 'Press Start 2P', cursive;
  color: cyan;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
  font-size: 300%;
}

body {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/15/4e/f1/154ef1baaf663fd76629b4bc84058615.png");
}

.em {
  font-family: 'Press Start 2P', cursive;
  color: white;
}

ul {
  font-family: 'Press Start 2P', cursive;
  color: white;
}
.searchy {
  max-width:10%;
  max-height:10%;
}
.conme {
  width: 15%;
  height: 15%;
}
