h1 {
  font-family: 'Press Start 2P', cursive;
  color:  blue;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
  font-size: 300%;
}
body {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/15/4e/f1/154ef1baaf663fd76629b4bc84058615.png");
}
p {
    color: black;
}
style {
  font-family: 'Press Start 2P', cursive;
  color: cyan;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}
ul {
  font-family: 'Press Start 2P', cursive;
}
.searchy {
  width: 5%;
  height: 5%;
}

.mp {
  height: 30%;
  width: 30%;
  transform-origin: center;
  transform: translateX(0vw) translateY(0vh);
}

.r {
  height: 17%;
  width: 17%;
  transform-origin: center;
  transform: rotate(90deg) translateX(-10vw) translateY(-70vh);
}

.cap {
  width: 20%;
  height: 20%;
  transform-origin: center;
  transform: translateX(15vw) translateY(-75vh);
}

.dd {
  width: 15%;
  height: 15%;
  transform-origin: center;
  transform: translateX(60vw) translateY(-97vh);
}
