
h1 {
  font-family: 'Press Start 2P', cursive;
  color: black;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
  font-size: 300%;
}

body {
  background-image: url("https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0137/5825/rrobot_circut_ltpink_shop_preview.png");
}

p {
    color: black;

}

style {
  font-family: 'Press Start 2P', cursive;
  color: black;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}

ul {
  font-family: 'Press Start 2P', cursive;
}
=======
h1 {
  font-family: 'Press Start 2P', cursive;
  color: black;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
  font-size: 300%;
}

body {
  background-image: url("https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0137/5825/rrobot_circut_ltpink_shop_preview.png");
}

p {
    color: black;

}

style {
  font-family: 'Press Start 2P', cursive;
  color: black;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}

ul {
  font-family: 'Press Start 2P', cursive;
}

searchy.resize {
max-width:50%;
max-height:50%;
}
